@model Projet2Homechef.ViewModels.VillageoisViewModel


@{
    ViewBag.Title = "Login";
   
}
<head>
 <link href="~/css/styleHomechef.css" rel="stylesheet" />
 </head>
@*<h2><img src="/images/sousmenu connection.png"  /></h2>*@
	

<body>
    <section id="contact">
	 
	  <div class="container">
            <form><legend>Login</legend></form>
				@*<form action="/home/CreerAdhesion" method = "post">*@
					@using (Html.BeginForm("login","login"))
                {
                <!--<div class="form-floating mb-3">-->
                <div>
                    @Html.TextBoxFor(model => model.Villageois.UserName, new { @class = "form-control", placeholder = "UserName" })
                        @Html.LabelFor(model => model.Villageois.UserName)
                        @Html.ValidationMessageFor(model =>model.Villageois.UserName)
                    </div>
                <br />
                <!--<div class="form-floating mb-3">-->
                    <div>
                    @Html.TextBoxFor(model => model.Villageois.Password, new { @type="password", @class = "form-control", placeholder = "password" })
                        @Html.LabelFor(model => model.Villageois.Password)
                        @Html.ValidationMessageFor(model => model.Villageois.Password)
                    </div>
                    <br/>
         
                    <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" type="submit">Se Connecter</button>
                }
            
				@*</form>*@
				</div>
      </section>


</body>