
@using Projet2Homechef.Models
@model List<Projet2Homechef.Models.Prestation.Commande>

@{
    ViewBag.Title = "PrestationChef";
	Layout = "_LayoutHomeChefVuesSecondaires";
}

@*<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Service</h2>*@
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="row justify-content-start">

			@foreach(var commande in Model)
			{
				
				<tr>
          <td>@commande.Id</td>    
          <td>@commande.Service.Titre</td>
          <td>@commande.Service.Description</td>
          <td>@commande.Villageois.UserName</td>
          
          <td> <button1 class="btn btn-success btn-xl" type="submit">@Html.ActionLink("Détail", "DetailPrestationChef", "Prestation",new{@id = @commande.Id}) </button1> </td>

      </tr>
			}
			

		</div>
