
@using Projet2Homechef.Models
@model List<Projet2Homechef.Models.Prestation.Commande>

@{
    ViewBag.Title = "PrestationVillageois";
	
}

        <div class="divider-custom">
			<h2>Mes commandes en cours</h2>
			
		</div>
<table class="styled-table">

      <tr>
          <th>Id</th>    
          <th>Titre</th>  
          <th>Description</th>
          <th>Chef</th> 
          <th>   </th>
          
         
       </tr>
    @foreach(var commande in Model)
    {
         <tr>
          <td>@commande.Id</td>    
          <td>@commande.Service.Titre</td>
          <td>@commande.Service.Description</td>
          <td>@commande.Service.Chef.UserName</td>
          
          <td> <button1 class="btn btn-success btn" type="submit">@Html.ActionLink("Détail", "DetailPrestationChef", "Prestation",new{@id = @commande.Id}) </button1> </td>

      </tr>
      
  
      
    }
</table>

       