
@using Projet2Homechef.Models
@model List<Projet2Homechef.Models.Prestation.Commande>

@{
    ViewBag.Title = "DetailPrestation";
    Layout = "_LayoutHomeChefVuesSecondaires";
}

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Vue sur la prestation</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="row justify-content-start">

			@foreach(var commande in Model)
			{
				//les information du service, du chef et du villageois
					<div>Le service rendu:</div>    
					<div>@commande.Service.Titre</div>

					<div>Description:</div>    
					<div>@commande.Service.Description</div>
				
					<div>Proposer par: </div>    
					<div>@commande.Service.Chef.UserName</div>
				
					<div>@commande.Villageois.UserName</div>    
					<div>Vous a demandé</div>
				
		<img src="@commande.Service.ImagePath" width="400" height="400" />
		
		//Première Etape de validation de la demande du villageois
		if (@commande.Statut == 0)
		{
			
			<form action="/Prestation/AjouterDemande" method = "post"> 
				<input type="hidden" name="Id" value = @commande.Id />
				<input type="text" name="Demande" placeholder="Ce que vous souhaitez:" required=" "/>					
				<div>Prévu pour:</div>  
				<input type="datetime" name="DatePrestation" placeholder="..." required=""/>
				<input class="btn btn-success btn-xl" type="submit" value = "Envoyer Demande" />
			</form>
		}
		else
		{
			<div>@commande.Demande</div>    				
			<div>Prévu pour:</div>    
			<div>@commande.DatePrestation</div>
		}

		//Seconde Etape de l'établissement du devis du chef
		if (@commande.Statut == 1)
		{										
			<div>En attente du devis du chef</div>  				
		}
		else if (@commande.Statut >= 1)
		{
			<div>La proposition du chef:</div>    
			<div>@commande.Devis</div>
				
			<div>Pour le montant</div>    
			<div>@commande.Cout</div>
		}
		
		//Troisième Etape de l'acceptation du devis par le villageois
		if (@commande.Statut == 2)
		{										
			<form action="/Prestation/ConfirmerDevis" method = "post"> 	
				<input type="hidden" name="Id" value = @commande.Id />
				<input type="text" name="ConfirmationDevis" placeholder="Cela vous contient" required=" "/>															
			    <input class="btn btn-success btn-xl" type="submit" value = "Confirmer Devis" />		
			</form>
		}		
		else if (@commande.Statut >= 2)
		{
			<div>@commande.ConfirmationDevis</div>
		}
		
		//Quatrième Etape de le réception de la prestation par le villageois
		if (@commande.Statut == 3)
		{										
			<form action="/Prestation/ConfirmerPrestation" method = "post"> 
				<input type="hidden" name="Id" value = @commande.Id />
				<input type="text" name="ConfirmationPrestation" placeholder="Cela vous contient" required=" "/>															
			    <input class="btn btn-success btn-xl" type="submit" value = "Confirmer Prestation" />			
			</form>
		}		
		else if (@commande.Statut >= 3)
		{
			<div>@commande.ConfirmationPrestation</div>
		}

		//Cinquième Etape de la récupération du matériel du chef
		if (@commande.Statut == 4)
		{										
			<div>En attente de la confirmation du retour du matériel</div> 
		}		
		else if (@commande.Statut >= 4)
		{
			<div>@commande.ConfirmationRetour</div>
		}
		
          
       
			}
			

		</div>
