 @model Projet2Homechef.Models.Villageois

@{
    ViewBag.Title = "Villageois";
    Layout = "_LayoutHomechef";
}

<h3 class="titre">Bonjour @Model.UserName"</h3>


@*
 <h4>Liste des prestations</h4>
 
 <table border="1">
      <tr>
          <th>Id</th>    
          <th>Refuser</th>
          <th>Supprimer</th>
       </tr>
    @foreach(var prestation in Model)
    {
         <tr>
          <td>@prestation.Id</td>    
          <td> <button1 class="btn btn-success btn-xl" type="submit">@Html.ActionLink("Valider", "ValiderVillageois", "Gestionnaire",new{@id = @prestation.Id}) </button1> </td>
          <td> <button2 class="btn btn-danger btn-xl" type="submit">@Html.ActionLink("Refuser", "DeleteVillageois", "Gestionnaire", new{@id = @prestation.Id})</button2> </td>
         

      </tr>

      
    }

      
  </table>*@
  